body{

background:#f4efe5;

font-family:
"Microsoft YaHei",
sans-serif;

margin:0;

color:#333;

}



.container{

max-width:850px;

margin:auto;

padding:20px;

}



header{

text-align:center;

color:#5a3b22;

}



.card{

background:white;

padding:25px;

margin-top:20px;

border-radius:15px;

box-shadow:
0 3px 12px rgba(0,0,0,.1);

}



input,
select,
button{

width:100%;

padding:12px;

margin-top:10px;

font-size:16px;

}



button{

background:#76502d;

color:white;

border:0;

border-radius:8px;

cursor:pointer;

}



.pillars{

display:flex;

justify-content:space-around;

text-align:center;

font-size:20px;

}



.pillar{

background:#faf5ed;

padding:15px;

border-radius:10px;

}



.bar{

height:20px;

border-radius:10px;

background:#8aa;

margin-bottom:10px;

}



.water{
background:#438ac0;
}

.wood{
background:#5c9b58;
}

.fire{
background:#d85b45;
}

.earth{
background:#b9944c;
}

.metal{
background:#999;
}



.good{

background:#e7f3e7;

padding:15px;

border-radius:10px;

margin:10px 0;

}



.bad{

background:#f8e5e5;

padding:15px;

border-radius:10px;

margin:10px 0;

}