*{

box-sizing:border-box;

}


body{

margin:0;

background:#f3eee4;

font-family:
"Microsoft YaHei",
sans-serif;

color:#333;

}



.container{

max-width:900px;

margin:auto;

padding:30px;

}



header{

text-align:center;

color:#5c3a20;

margin-bottom:30px;

}



.input-card,
.card{

background:white;

padding:25px;

margin-bottom:20px;

border-radius:16px;

box-shadow:
0 4px 15px rgba(0,0,0,.08);

}



h2{

color:#684321;

}



label{

display:block;

margin-top:15px;

}



input,
select,
button{

width:100%;

padding:12px;

margin-top:8px;

font-size:16px;

border-radius:8px;

border:1px solid #ddd;

}



button{

background:#76502c;

color:white;

border:none;

cursor:pointer;

}



.pillars{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:10px;

}



.pillar{

background:#faf5eb;

padding:15px;

text-align:center;

border-radius:10px;

font-size:20px;

}



.wuxing-bar{

height:22px;

border-radius:12px;

margin:8px 0;

}



.wood{

background:#6b9d55;

}


.fire{

background:#d45b42;

}


.earth{

background:#b99a55;

}


.metal{

background:#999;

}


.water{

background:#4b88b8;

}



.reason{

background:#faf7ef;

padding:15px;

border-radius:10px;

margin-top:10px;

}



.good{

background:#e7f2e7;

padding:15px;

border-radius:10px;

}



.warning{

background:#f7e4e4;

padding:15px;

border-radius:10px;

}